.App {
  text-align: center;
}

.content {
  display: flex;
  height: 100vh;
  padding: 10px;
  background-color: blue;
}

.searchContainer {
  height: 100vh;
  width: 30%;
  background-color: red;
  display: flex;
  justify-content: left;
  align-items: center;
}


