.searchForm {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
}

.searchForm h2 {
    font-size: 1em;
    margin-bottom: 10px;
}

.searchForm label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.searchForm input[type="text"] {
    flex: 1;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-left: 10px;
    background-color: #F9FAFB;
}

.searchForm input[type="text"]:disabled {
    background-color: #E3E4E5;
}

.searchForm input[type="checkbox"] {
    width: 22px;
    height: 22px;
    margin-left: 10px;
}

.searchForm button {
    padding: 10px;
    background-color: #8e4dbb;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.searchForm button:hover {
    background-color: #6f2d7f;
}
